<h1>Models show</h1>


<%= button_to "Delete Account", manikin_path(@manikin), method: "delete" %>
<%= button_to "Edit", edit_manikin_path(@manikin), method: :get %>
<%= button_to 'Back', manikins_path %>

<div>
    <p>Model images: <%= image_tag(@manikin.manikin_images) %></p>
    <p>Model name: <%= @manikin.manikin_name %> </p>
    <p>Modeling type: <%= @manikin.manikin_type %> </p>
    <p>Skin tone: <%= @manikin.skin_tone %> </p>
    <p>Skin condition: <%= @manikin.skin_condition %> </p>
    <p>Face shape: <%= @manikin.face_shape %> </p>
    <p>Eye color: <%= @manik in.eye_color %></p>
    <p>Hair color: <%= @manikin.hair_color %> </p>
    <p>Weight: <%= @manikin.weight %> </p>
    <p>Height: <%= @manikin.height %> </p>
    <p>Date of birth: <%= @manikin.date_of_birth %> </p>
    <p>Gender: <%= @manikin.gender %> </p>
    <p>Bust: <%= @manikin.bust %> </p>
    <p>Waist: <%= @manikin.waist %> </p>
    <p>Hips: <%= @manikin.hips %> </p>
    <p>Shoes size: <%= @manikin.shoes_size %> </p>
    <p>Phone: <%= @manikin.phone %> </p>
    <p>Location: <%= @manikin.location %> </p>
    <p>Description: <%= @manikin.description %> </p>
    <p>Email: <%= @manikin.email %> </p>
</div>

