<h1>Artists index</h1>




<% @artists.each do |artist| %>
    <div>
    <h1> <%= artist.artist_name %></h1>
    <p>Images: <%= artist.images %></p>
    <p>Artist type: <%= artist.artist_type %></p>
    <p>Phone: <%= artist.phone %></p>
    <p>Location: <%= artist.location %></p>
    <p>Description: <%= artist.description %></p>
    <p>Email: <%= artist.email %></p>

    <%= button_to 'Show', artist_path(artist), method: :get %> 
    <%= button_to 'Edit', edit_artist_path(artist), method: :get %> 
    </div>
  <%end%>